#h1{
    background: -webkit-gradient(linear, 0 60%, 0 100%, from(black), color-stop(05, #3f3f3f), to(#474747));
	position: fixed;
	left: 0;
	right: 0 ;
	height: 80px;
	padding: 5px;
	text-align: left;
    color: white;
    font: 30px 'Avenue', sans-serif;
    line-height: 100px;
}
#days{
    background: gray;
    font: bold 15px 'Avenue', sans-serif;
    background size: cover;
	position: fixed;
	left: 0;
	right: 0;
	height: 19px;
	padding: 5px;
    top: 90px;
	text-align: left;
    color: black;
}
#header {
    background size: cover;
	position: fixed;
	left: 0;
	right: 0;
	height: 80px;
	padding: 5px;
	text-align: right;
    color: white;
}

#header {
    font: bold 12px 'Avenue', sans-serif;
	top: 0;
	border-bottom: 2px solid black;
    line-height: 100px;
}

#help {
    
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.75);
}

#help div {
	text-align: right;
	margin: 120px auto;
	width: 400px;
	height: 90px;
	padding: 20px;
	color: black;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	background: white;
}

#help ul {
	margin: 0;
	padding: 0 0 20px 20px;
	text-align: left;
	line-height: 15px;
}
button.mybutton{
    font: bold 15px 'Avenue', sans-serif;
    padding: 1px 10px;
    text-align: left;
    cursor: pointer;
    outline: black;
    color: black;
    background-color: #EFEFEF;
    vertical-align: middle;
    border: 1px solid black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
button.mybutton:hover {background-color: #bfbfbf}

button.mybutton:active {
  background-color: #f4ab18;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a.button {
  padding: 7px 11px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #EFEFEF;
  margin: 0 0 0 5px;
  border: 1px solid #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
 

}
a.button:hover {background-color: #bfbfbf}

a.button:active {
  background-color: #f4ab18;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body, #calendar{
	background: white;
	color: black;
	margin: 0;
	font: 12px sans-serif;
}
#weeks{
    left: 50%;
    transform: translate(-50%, 0);
    font: bold 15px 'Avenue', sans-serif;
    position: fixed;
    top: 92px;
	text-align: center;
    vertical-align: bottom;
    color: black;
    border-spacing: 0 0;
    border-top: transparent;  
}
#weeks td{
    width: 135px; 
    padding: 4px 1px 6px 3px;
    vertical-align: middle;
}
#weeks td.blank{
    width: 148.5px;
    margin-left: -30%;
	padding: 3px 10px;
	text-align: left;
	border: none; 
}
#calendar{
    margin: 0 auto;
	border-spacing: 0 0;
	border-left: 1px solid black;
    border-right: 1px solid black;
	border-top: 1px solid black;    
}
#calendar td {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px 15px 20px 3px;
	text-align: center;
	vertical-align: top;
	width: 120.5px;
	height: 100px;
	cursor: pointer;
}

#calendar td span {
	margin-right: 103px;
}

#calendar td.month {
    border-right: 1px solid black;
    margin-left: -30%;
    background: #f4ab18;
	padding: 3px 10px;
	text-align: left;
	border: none;
	font: bold 30px 'Avenue', sans-serif;
	line-height: 33px;
	cursor: auto;
}

#calendar td.shaded {
	background: #bfbfbf;
}

#calendar td.today {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 4px solid black;
	border-bottom: 3px solid black;
	padding-top: 1px;
	width: 116px;
}

textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	font: 12px sans-serif;
	margin: 3px 0 0 0;
	padding: 2px 5px 0 5px;
	background: #ffcb77;
	border: 1px solid black;
	-moz-border-radius: 4px;
	resize: none;
}

textarea:focus {
	outline: none;
}

#calendar td.shaded textarea {
	background: white;
}

a:focus {
	outline: none;
}

